@media screen and (max-width: 479px) {
    .tags{
        border: 1px solid #12E068;
        height: 34px;
        padding: 0px 11px 0px 15px;
        border-radius: 27px;
        justify-content: center;
        align-items: center;
        text-align: center;
        outline: none;
        margin: 0 0 10px 4px;
        background-color: white;
        
    }
    .addcolor{
        background:  rgba(18, 224, 104, 0.2);;
    }
    .input-cont{
        display: flex;
        justify-content: space-between;
    }
    .tagsActive{
        display: flex;
        height: 34px;
        padding: 10px 17px 10px 17px;
        align-items: center;
        justify-content: space-between;
        background: white;
        border-radius: 17px;
        justify-content: center;
        align-items: center;
        text-align: center;
        outline: none;
        border: 1px solid #12E068;
        margin: 0px 2px 0px 2px;
        margin-bottom: 10px;
        background:  rgba(18, 224, 104, 0.2);;
    }
    
    .tagsDisabled{
        border: 1px solid #E5E5E5;
        color: rgba(0, 0, 0, 0.38);
        background: white;
    }

    
}