@media screen and (max-width: 479px) {
.input-text{
    width: 347px;
    height: 56px;
    border: 1.03303px solid #000000;
    border-radius: 6.21302px;
    outline: none;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 17px;
}
.input-password{
    width: 347px;
    height: 56px;
    border: 1.03303px solid #000000;
    border-radius: 6.21302px;
    outline: none;
    display: flex;
    justify-content: center;
    margin: auto;
}
.form{
    padding: 0px 0px 27px 0px;
}
.eyes{
    float: right;
    margin-top: -35px;
    margin-right: 35px;
}
}
